body {
    background-color: #eaf6f6;
  }
  
  hr {
    color: #e8e8e8 ;
    border-top: dotted 8px;
    width: 10%;
  }
  
  h1 {
    color: #66BFBF;
  }
  
  h3 {
    color: #f76b8a;
  }
  